In [1]:
# keys is a local file that has info to log in
# dvdrental is a file i got to work in pgadmin4 and here but not sure how to directly get a db to work without pgadmin first
# best practice is to include sql queries on one grouping instead of combining pieces of queries

import psycopg2
import import_ipynb
import keys

importing Jupyter notebook from keys.ipynb

In [2]:
# CONFIG for the first database

conn = psycopg2.connect(host=keys.get_host(), database='dvdrental', user=keys.get_user() ,password=keys.get_secret(), port=5433) 
cur = conn.cursor()

In [3]:
cur.execute('SELECT * FROM information_schema.tables')
colnames = [desc[0] for desc in cur.description]
print(colnames)

['table_catalog', 'table_schema', 'table_name', 'table_type', 'self_referencing_column_name', 'reference_generation', 'user_defined_type_catalog', 'user_defined_type_schema', 'user_defined_type_name', 'is_insertable_into', 'is_typed', 'commit_action']

In [4]:
# Test case 1
cur.execute('SELECT * FROM payment;')
data = cur.fetchmany(10)
print(data[0])
print(data[0][4])

(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))
7.99

In [5]:
# CHallenge 1

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT first_name,last_name,email FROM customer;')
answer = cur.fetchone()
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
('Jared', 'Ely', 'jared.ely@sakilacustomer.org')

In [6]:
# Challenge 2

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT rating FROM film;')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17',), ('G',), ('PG',), ('PG-13',), ('R',)]

In [7]:
# CHallenge 3
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT email from customer WHERE first_name = %(fname)s and last_name = %(lname)s;', {'fname': 'Nancy', 'lname': 'Thomas'})
answer = cur.fetchmany(10)
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
[('nancy.thomas@sakilacustomer.org',)]

In [8]:
# CHallenge 4
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT description FROM film WHERE title = %s;', ('Outlaw Hanky',))
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('A Thoughtful Story of a Astronaut And a Composer who must Conquer a Dog in The Sahara Desert',)]

In [9]:
# CHallenge 5
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT phone FROM address WHERE address = %s;', ['259 Ipoh Drive'])
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('419009857119',)]

In [10]:
# CHallenge 6

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(amount) FROM payment WHERE amount > 5;')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(3618,)]

In [11]:
# Challenge 7

cur.execute('SELECT * FROM actor')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM actor WHERE last_name LIKE %s;', ["P%"])
answer = cur.fetchmany(10)
print(answer)

['actor_id', 'first_name', 'last_name', 'last_update']
[(14,)]

In [12]:
# Challenge 8

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(DISTINCT(district)) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[(378,)]

In [13]:
# Challenge 9

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT(district) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('Aden',), ('Eastern Visayas',), ('Vaduz',), ('Tokat',), ('Anzotegui',), ('Saint-Denis',), ('Chollanam',), ('Chihuahua',), ('Nyanza',), ('Changhwa',)]

In [14]:
# Challenge 10

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE rating = %s AND replacement_cost BETWEEN 5 AND 15', ["R"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(52,)]

In [15]:
# Challenge 11

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE title ILIKE %s', ["%truman%"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(5,)]

In [16]:
# Challenge 12

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT staff_id,COUNT(amount),SUM(amount) FROM payment GROUP BY staff_id')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(1, 7292, Decimal('30252.12')), (2, 7304, Decimal('31059.92'))]

In [17]:
# Challenge 13

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT rating, AVG(replacement_cost) FROM film GROUP BY rating')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17', Decimal('20.1376190476190476')), ('G', Decimal('20.1248314606741573')), ('PG', Decimal('18.9590721649484536')), ('PG-13', Decimal('20.4025560538116592')), ('R', Decimal('20.2310256410256410'))]

In [18]:
# Challenge 14

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id,SUM(amount) FROM payment GROUP BY customer_id ORDER BY SUM(amount) LIMIT 5')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(318, Decimal('27.93')), (281, Decimal('32.90')), (248, Decimal('37.87')), (320, Decimal('47.85')), (110, Decimal('49.88'))]

In [19]:
# Challenge 15

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id,COUNT(payment_id) FROM payment GROUP BY customer_id HAVING COUNT(payment_id) >= 40')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(144, 40), (526, 42), (148, 45)]

In [20]:
# Challenge 16

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT rating, AVG(rental_duration) FROM film GROUP BY rating HAVING AVG(rental_duration) > 5')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17', Decimal('5.1428571428571429')), ('PG', Decimal('5.0824742268041237')), ('PG-13', Decimal('5.0538116591928251'))]

In [21]:
# Assessment 1.1

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id FROM payment WHERE staff_id = 2 GROUP BY customer_id HAVING SUM(amount) >= 110')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(187,), (148,)]

In [22]:
# Assessment 1.2

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(film_id) FROM film WHERE title ILIKE %s', ['J%'])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(20,)]

In [23]:
# Assessment 1.3

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT first_name,last_name,customer_id FROM customer WHERE first_name ILIKE %s AND address_id < 500 ORDER BY customer_id DESC LIMIT 1', ['E%'])
answer = cur.fetchmany(10)
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
[('Eddie', 'Tomlin', 434)]

In [24]:
# DATABASE 2 CONFIG
cur.close()
conn2 = psycopg2.connect(host=keys.get_host(), database='exercises', user=keys.get_user() ,password=keys.get_secret(), port=5433) 
cur2 = conn2.cursor()

In [25]:
# prints the column headers

print()
cur2.execute('SELECT table_name FROM information_schema.tables WHERE table_type = %s AND table_schema = %s;', ['BASE TABLE', 'cd']) 
tables = cur2.fetchall()

for table in tables:

    print(table[0])
    cur2.execute('SELECT * FROM cd.'+table[0]+' LIMIT 1;')
    colnames = [desc[0] for desc in cur2.description]
    print(colnames)
    print()

facilities
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']

bookings
['bookid', 'facid', 'memid', 'starttime', 'slots']

members
['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']

In [26]:
# Assessment 2.1

# cur.execute('SELECT * FROM customer')
# colnames = [desc[0] for desc in cur.description]
# print(colnames)
# cur.execute('SELECT first_name,last_name,customer_id FROM customer WHERE first_name ILIKE %s AND address_id < 500 ORDER BY customer_id DESC LIMIT 1', ['E%'])
# answer = cur.fetchmany(10)
# print(answer)

cur.close()
conn.close()