In [1]:
# keys is a local file that has info to log in
# dvdrental is a file i got to work in pgadmin4 and here but not sure how to directly get a db to work without pgadmin first
# best practice is to include sql queries on one grouping instead of combining pieces of queries

import psycopg2
import import_ipynb
import keys

importing Jupyter notebook from keys.ipynb

In [2]:
conn = psycopg2.connect(host=keys.get_host(), database='dvdrental', user=keys.get_user() ,password=keys.get_secret(), port=5433)

In [3]:
cur = conn.cursor()

In [4]:
# Test case 1
cur.execute('SELECT * FROM payment;')
data = cur.fetchmany(10)
print(data[0])
print(data[0][4])

(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))
7.99

In [5]:
# CHallenge 1

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT first_name,last_name,email FROM customer;')
answer = cur.fetchone()
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
('Jared', 'Ely', 'jared.ely@sakilacustomer.org')

In [6]:
# Challenge 2

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT rating FROM film;')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17',), ('G',), ('PG',), ('PG-13',), ('R',)]

In [7]:
# CHallenge 3
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT email from customer WHERE first_name = %(fname)s and last_name = %(lname)s;', {'fname': 'Nancy', 'lname': 'Thomas'})
answer = cur.fetchmany(10)
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
[('nancy.thomas@sakilacustomer.org',)]

In [8]:
# CHallenge 4
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT description FROM film WHERE title = %s;', ('Outlaw Hanky',))
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('A Thoughtful Story of a Astronaut And a Composer who must Conquer a Dog in The Sahara Desert',)]

In [9]:
# CHallenge 5
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT phone FROM address WHERE address = %s;', ['259 Ipoh Drive'])
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('419009857119',)]

In [10]:
# CHallenge 6
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(amount) FROM payment WHERE amount > 5;')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(3618,)]

In [11]:
# Challenge 7
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM actor')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM actor WHERE last_name LIKE %s;', ["P%"])
answer = cur.fetchmany(10)
print(answer)

['actor_id', 'first_name', 'last_name', 'last_update']
[(14,)]

In [12]:
# Challenge 8
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(DISTINCT(district)) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[(378,)]

In [13]:
# Challenge 9
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT(district) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('Aden',), ('Eastern Visayas',), ('Vaduz',), ('Tokat',), ('Anzotegui',), ('Saint-Denis',), ('Chollanam',), ('Chihuahua',), ('Nyanza',), ('Changhwa',)]

In [14]:
# Challenge 10
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE rating = %s AND replacement_cost BETWEEN 5 AND 15', ["R"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(52,)]

In [15]:
# Challenge 11
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE title ILIKE %s', ["%truman%"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(5,)]

In [16]:
cur.close()
conn.close()