In [1]:
# keys is a local file that has info to log in
# dvdrental is a file i got to work in pgadmin4 and here but not sure how to directly get a db to work without pgadmin first
# best practice is to include sql queries on one grouping instead of combining pieces of queries

import psycopg2
from psycopg2 import sql
import import_ipynb
import keys

importing Jupyter notebook from keys.ipynb

In [2]:
# CONFIG for the first database

conn = psycopg2.connect(host=keys.get_host(), database='dvdrental', user=keys.get_user() ,password=keys.get_secret(), port=5433) 
cur = conn.cursor()

In [3]:
# prints the column headers

cur.execute('SELECT table_name FROM information_schema.tables WHERE table_type = %s AND table_schema = %s;', ['BASE TABLE', 'public']) 
tables = cur.fetchall()

for table in tables:

    print(table[0])
    cur.execute('SELECT * FROM '+table[0]+' LIMIT 1;')
    colnames = [desc[0] for desc in cur.description]
    print(colnames)
    print()

actor
['actor_id', 'first_name', 'last_name', 'last_update']

store
['store_id', 'manager_staff_id', 'address_id', 'last_update']

address
['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']

category
['category_id', 'name', 'last_update']

city
['city_id', 'city', 'country_id', 'last_update']

country
['country_id', 'country', 'last_update']

customer
['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']

film_actor
['actor_id', 'film_id', 'last_update']

film_category
['film_id', 'category_id', 'last_update']

inventory
['inventory_id', 'film_id', 'store_id', 'last_update']

language
['language_id', 'name', 'last_update']

rental
['rental_id', 'rental_date', 'inventory_id', 'customer_id', 'return_date', 'staff_id', 'last_update']

staff
['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

payment
['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']

film
['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

In [4]:
# Test case 1
cur.execute('SELECT * FROM payment;')
data = cur.fetchmany(10)
print(data[0])
print(data[0][4])

(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))
7.99

In [5]:
# CHallenge 1

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT first_name,last_name,email FROM customer;')
answer = cur.fetchone()
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
('Jared', 'Ely', 'jared.ely@sakilacustomer.org')

In [6]:
# Challenge 2

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT rating FROM film;')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17',), ('G',), ('PG',), ('PG-13',), ('R',)]

In [7]:
# CHallenge 3
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT email from customer WHERE first_name = %(fname)s and last_name = %(lname)s;', {'fname': 'Nancy', 'lname': 'Thomas'})
answer = cur.fetchmany(10)
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
[('nancy.thomas@sakilacustomer.org',)]

In [8]:
# CHallenge 4
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT description FROM film WHERE title = %s;', ('Outlaw Hanky',))
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('A Thoughtful Story of a Astronaut And a Composer who must Conquer a Dog in The Sahara Desert',)]

In [9]:
# CHallenge 5
# cursor.execute("SELECT * FROM student WHERE last_name = %(lname)s", 
#                {"lname": "Robert'); DROP TABLE students;--"})

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT phone FROM address WHERE address = %s;', ['259 Ipoh Drive'])
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('419009857119',)]

In [10]:
# CHallenge 6

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(amount) FROM payment WHERE amount > 5;')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(3618,)]

In [11]:
# Challenge 7

cur.execute('SELECT * FROM actor')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM actor WHERE last_name LIKE %s;', ["P%"])
answer = cur.fetchmany(10)
print(answer)

['actor_id', 'first_name', 'last_name', 'last_update']
[(14,)]

In [12]:
# Challenge 8

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(DISTINCT(district)) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[(378,)]

In [13]:
# Challenge 9

cur.execute('SELECT * FROM address')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT DISTINCT(district) FROM address')
answer = cur.fetchmany(10)
print(answer)

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
[('Aden',), ('Eastern Visayas',), ('Vaduz',), ('Tokat',), ('Anzotegui',), ('Saint-Denis',), ('Chollanam',), ('Chihuahua',), ('Nyanza',), ('Changhwa',)]

In [14]:
# Challenge 10

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE rating = %s AND replacement_cost BETWEEN 5 AND 15', ["R"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(52,)]

In [15]:
# Challenge 11

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(*) FROM film WHERE title ILIKE %s', ["%truman%"])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(5,)]

In [16]:
# Challenge 12

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT staff_id,COUNT(amount),SUM(amount) FROM payment GROUP BY staff_id')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(1, 7292, Decimal('30252.12')), (2, 7304, Decimal('31059.92'))]

In [17]:
# Challenge 13

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT rating, AVG(replacement_cost) FROM film GROUP BY rating')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17', Decimal('20.1376190476190476')), ('G', Decimal('20.1248314606741573')), ('PG', Decimal('18.9590721649484536')), ('PG-13', Decimal('20.4025560538116592')), ('R', Decimal('20.2310256410256410'))]

In [18]:
# Challenge 14

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id,SUM(amount) FROM payment GROUP BY customer_id ORDER BY SUM(amount) LIMIT 5')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(318, Decimal('27.93')), (281, Decimal('32.90')), (248, Decimal('37.87')), (320, Decimal('47.85')), (110, Decimal('49.88'))]

In [19]:
# Challenge 15

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id,COUNT(payment_id) FROM payment GROUP BY customer_id HAVING COUNT(payment_id) >= 40')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(144, 40), (526, 42), (148, 45)]

In [20]:
# Challenge 16

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT rating, AVG(rental_duration) FROM film GROUP BY rating HAVING AVG(rental_duration) > 5')
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[('NC-17', Decimal('5.1428571428571429')), ('PG', Decimal('5.0824742268041237')), ('PG-13', Decimal('5.0538116591928251'))]

In [21]:
# Assessment 1.1

cur.execute('SELECT * FROM payment')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT customer_id FROM payment WHERE staff_id = 2 GROUP BY customer_id HAVING SUM(amount) >= 110')
answer = cur.fetchmany(10)
print(answer)

['payment_id', 'customer_id', 'staff_id', 'rental_id', 'amount', 'payment_date']
[(187,), (148,)]

In [22]:
# Assessment 1.2

cur.execute('SELECT * FROM film')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT COUNT(film_id) FROM film WHERE title ILIKE %s', ['J%'])
answer = cur.fetchmany(10)
print(answer)

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']
[(20,)]

In [23]:
# Assessment 1.3

cur.execute('SELECT * FROM customer')
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute('SELECT first_name,last_name,customer_id FROM customer WHERE first_name ILIKE %s AND address_id < 500 ORDER BY customer_id DESC LIMIT 1', ['E%'])
answer = cur.fetchmany(10)
print(answer)

['customer_id', 'store_id', 'first_name', 'last_name', 'email', 'address_id', 'activebool', 'create_date', 'last_update', 'active']
[('Eddie', 'Tomlin', 434)]

In [24]:
# DATABASE 2 CONFIG
cur.close()
conn2 = psycopg2.connect(host=keys.get_host(), database='exercises', user=keys.get_user() ,password=keys.get_secret(), port=5433) 
cur2 = conn2.cursor()

In [25]:
# prints the column headers

cur2.execute('SELECT table_name FROM information_schema.tables WHERE table_type = %s AND table_schema = %s;', ['BASE TABLE', 'cd']) 
tables = cur2.fetchall()

for table in tables:

    print(table[0])
    cur2.execute('SELECT * FROM cd.'+table[0]+' LIMIT 1;')
    colnames = [desc[0] for desc in cur2.description]
    print(colnames)
    print()

facilities
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']

bookings
['bookid', 'facid', 'memid', 'starttime', 'slots']

members
['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']

In [26]:
# Assessment 2.1

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT * FROM cd.facilities')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[(0, 'Tennis Court 1', Decimal('5'), Decimal('25'), Decimal('10000'), Decimal('200')), (1, 'Tennis Court 2', Decimal('5'), Decimal('25'), Decimal('8000'), Decimal('200')), (2, 'Badminton Court', Decimal('0'), Decimal('15.5'), Decimal('4000'), Decimal('50')), (3, 'Table Tennis', Decimal('0'), Decimal('5'), Decimal('320'), Decimal('10')), (4, 'Massage Room 1', Decimal('35'), Decimal('80'), Decimal('4000'), Decimal('3000')), (5, 'Massage Room 2', Decimal('35'), Decimal('80'), Decimal('4000'), Decimal('3000')), (6, 'Squash Court', Decimal('3.5'), Decimal('17.5'), Decimal('5000'), Decimal('80')), (7, 'Snooker Table', Decimal('0'), Decimal('5'), Decimal('450'), Decimal('15')), (8, 'Pool Table', Decimal('0'), Decimal('5'), Decimal('400'), Decimal('15'))]

In [27]:
# Assessment 2.2

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT name,membercost FROM cd.facilities')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[('Tennis Court 1', Decimal('5')), ('Tennis Court 2', Decimal('5')), ('Badminton Court', Decimal('0')), ('Table Tennis', Decimal('0')), ('Massage Room 1', Decimal('35')), ('Massage Room 2', Decimal('35')), ('Squash Court', Decimal('3.5')), ('Snooker Table', Decimal('0')), ('Pool Table', Decimal('0'))]

In [28]:
# Assessment 2.3

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT name,membercost FROM cd.facilities WHERE membercost > 0')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[('Tennis Court 1', Decimal('5')), ('Tennis Court 2', Decimal('5')), ('Massage Room 1', Decimal('35')), ('Massage Room 2', Decimal('35')), ('Squash Court', Decimal('3.5'))]

In [29]:
# Assessment 2.4

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT facid, name, membercost, monthlymaintenance FROM cd.facilities WHERE membercost > 0 AND membercost < monthlymaintenance/50')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[(4, 'Massage Room 1', Decimal('35'), Decimal('3000')), (5, 'Massage Room 2', Decimal('35'), Decimal('3000'))]

In [30]:
# Assessment 2.5

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT name FROM cd.facilities WHERE name ILIKE %s', ['%tennis%'])
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[('Tennis Court 1',), ('Tennis Court 2',), ('Table Tennis',)]

In [31]:
# Assessment 2.6

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT * FROM cd.facilities WHERE facid IN (1,5);')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[(1, 'Tennis Court 2', Decimal('5'), Decimal('25'), Decimal('8000'), Decimal('200')), (5, 'Massage Room 2', Decimal('35'), Decimal('80'), Decimal('4000'), Decimal('3000'))]

In [32]:
# Assessment 2.7

cur2.execute('SELECT * FROM cd.members')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT memid, surname, firstname, joindate FROM cd.members WHERE joindate >= %s;',['2012-09-01'])
answer = cur2.fetchmany(10)
print(answer)

['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']
[(24, 'Sarwin', 'Ramnaresh', datetime.datetime(2012, 9, 1, 8, 44, 42)), (26, 'Jones', 'Douglas', datetime.datetime(2012, 9, 2, 18, 43, 5)), (27, 'Rumney', 'Henrietta', datetime.datetime(2012, 9, 5, 8, 42, 35)), (28, 'Farrell', 'David', datetime.datetime(2012, 9, 15, 8, 22, 5)), (29, 'Worthington-Smyth', 'Henry', datetime.datetime(2012, 9, 17, 12, 27, 15)), (30, 'Purview', 'Millicent', datetime.datetime(2012, 9, 18, 19, 4, 1)), (33, 'Tupperware', 'Hyacinth', datetime.datetime(2012, 9, 18, 19, 32, 5)), (35, 'Hunt', 'John', datetime.datetime(2012, 9, 19, 11, 32, 45)), (36, 'Crumpet', 'Erica', datetime.datetime(2012, 9, 22, 8, 36, 38)), (37, 'Smith', 'Darren', datetime.datetime(2012, 9, 26, 18, 8, 45))]

In [33]:
# Assessment 2.8

cur2.execute('SELECT * FROM cd.members')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT DISTINCT surname FROM cd.members ORDER BY surname LIMIT 10;')
answer = cur2.fetchmany(10)
print(answer)

['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']
[('Bader',), ('Baker',), ('Boothe',), ('Butters',), ('Coplin',), ('Crumpet',), ('Dare',), ('Farrell',), ('GUEST',), ('Genting',)]

In [34]:
# Assessment 2.9

cur2.execute('SELECT * FROM cd.members')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT joindate FROM cd.members ORDER BY memid DESC LIMIT 1;')
answer = cur2.fetchmany(10)
print(answer)

['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']
[(datetime.datetime(2012, 9, 26, 18, 8, 45),)]

In [35]:
# Assessment 2.10

cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT COUNT(*) FROM cd.facilities WHERE guestcost >= 10;')
answer = cur2.fetchmany(10)
print(answer)

['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[(6,)]

In [36]:
# Assessment 2.12

cur2.execute('SELECT * FROM cd.bookings')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT facid,SUM(slots) FROM cd.bookings WHERE starttime >= %s AND starttime < %s GROUP BY facid ORDER BY SUM(slots);', ['2012-09-01', '2012-10-01'])
answer = cur2.fetchmany(10)
print(answer)

['bookid', 'facid', 'memid', 'starttime', 'slots']
[(5, 122), (3, 422), (7, 426), (8, 471), (6, 540), (2, 570), (1, 588), (0, 591), (4, 648)]

In [37]:
# Assessment 2.13

cur2.execute('SELECT * FROM cd.bookings')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT facid,SUM(slots) FROM cd.bookings WHERE starttime >= %s AND starttime < %s GROUP BY facid ORDER BY SUM(slots);', ['2012-09-01', '2012-10-01'])
answer = cur2.fetchmany(10)
print(answer)

['bookid', 'facid', 'memid', 'starttime', 'slots']
[(5, 122), (3, 422), (7, 426), (8, 471), (6, 540), (2, 570), (1, 588), (0, 591), (4, 648)]

In [38]:
# Assessment 2.14

cur2.execute('SELECT * FROM cd.bookings')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT * FROM cd.facilities')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT facilities.name, bookings.starttime, bookings.facid FROM cd.bookings INNER JOIN cd.facilities ON cd.facilities.facid = cd.bookings.facid WHERE starttime >= %s AND starttime < %s AND name ILIKE %s;', ['2012-09-21', '2012-09-22', '%Tennis Court%']); 
answer = cur2.fetchmany(10)
print(answer)

['bookid', 'facid', 'memid', 'starttime', 'slots']
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
[('Tennis Court 1', datetime.datetime(2012, 9, 21, 8, 0), 0), ('Tennis Court 2', datetime.datetime(2012, 9, 21, 8, 0), 1), ('Tennis Court 1', datetime.datetime(2012, 9, 21, 9, 30), 0), ('Tennis Court 2', datetime.datetime(2012, 9, 21, 10, 0), 1), ('Tennis Court 2', datetime.datetime(2012, 9, 21, 11, 30), 1), ('Tennis Court 1', datetime.datetime(2012, 9, 21, 12, 0), 0), ('Tennis Court 1', datetime.datetime(2012, 9, 21, 13, 30), 0), ('Tennis Court 2', datetime.datetime(2012, 9, 21, 14, 0), 1), ('Tennis Court 1', datetime.datetime(2012, 9, 21, 15, 30), 0), ('Tennis Court 2', datetime.datetime(2012, 9, 21, 16, 0), 1)]

In [39]:
# Assessment 2.15

cur2.execute('SELECT * FROM cd.bookings')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT * FROM cd.members')
colnames = [desc[0] for desc in cur2.description]
print(colnames)
cur2.execute('SELECT members.firstname, members.surname, bookings.starttime, bookings.facid FROM cd.bookings INNER JOIN cd.facilities ON cd.facilities.facid = cd.bookings.facid INNER JOIN cd.members ON cd.members.memid = cd.bookings.memid WHERE cd.bookings.memid = (SELECT memid FROM cd.members WHERE cd.members.firstname ILIKE %s AND cd.members.surname ILIKE %s);', ['David', 'Farrell']); 
answer = cur2.fetchmany(10)
print(answer)

['bookid', 'facid', 'memid', 'starttime', 'slots']
['memid', 'surname', 'firstname', 'address', 'zipcode', 'telephone', 'recommendedby', 'joindate']
[('David', 'Farrell', datetime.datetime(2012, 9, 18, 9, 0), 0), ('David', 'Farrell', datetime.datetime(2012, 9, 18, 17, 30), 0), ('David', 'Farrell', datetime.datetime(2012, 9, 18, 13, 30), 8), ('David', 'Farrell', datetime.datetime(2012, 9, 18, 20, 0), 8), ('David', 'Farrell', datetime.datetime(2012, 9, 19, 9, 30), 0), ('David', 'Farrell', datetime.datetime(2012, 9, 19, 15, 0), 0), ('David', 'Farrell', datetime.datetime(2012, 9, 19, 12, 0), 8), ('David', 'Farrell', datetime.datetime(2012, 9, 20, 15, 30), 6), ('David', 'Farrell', datetime.datetime(2012, 9, 20, 11, 30), 8), ('David', 'Farrell', datetime.datetime(2012, 9, 20, 14, 0), 8)]

cur.close()
conn.close()